{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} 상세페이지 {% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">

        <div class="card">
            <div class="card-body">
                <p class="text-center">{{post.title}}</p><hr>
                <p>
                    <h6 class="badge badge-secondary">작성자 : {{post.author}}</h6> 
                    <h6 class="badge badge-secondary">작성일 : {{post.created|date:'Y-m-d H:i:s'}}</h6> 
                    <h6 class="badge badge-secondary">조회수 : {{post.hit_count}}</h6>
                </p>
                {% if post.image %}
                <p class="text-center"><img src="{{ post.image.url }}" width="70%"></p>
                {% endif %}
                <p class="text-center">{{ post.content }}</p>
                
                <p class="text-center">
                    <button id="{{ post.id }}" onclick="click_post_like(this.id)" type="submit" class="btn btn-primary">좋아요 
                        <span id="like_count"  class="badge bg-secondary">{{post.like.all|length}}</span>
                    </button>
                        
                    <button id="{{ post.id }}" onclick="click_post_dis_like(this.id)" type="submit" class="btn btn-danger">싫어요 
                        <span id="dis_like_count" class="badge bg-secondary">{{post.dis_like.all|length}}</span>
                    </button>
                </p>
                <div>
                    <div class="text-center" id="message"></div>
                </div>   
                {% if post.author == request.user %}
                    <a class="btn btn-info" href="{% url 'board:board_update' post.pk post.slug %}">수정</a>
                    <a class="btn btn-warning" href="{% url 'board:board_delete' post.pk post.slug %}">삭제</a>
                {% endif %}
            </div>
            <br><br><br>
        </div>
    </div>
    <div class="col-md-4">
        {% for comment in post.posts.all %}
        <div class="row mt-1">
            <div class="card comment py-2 text-muted">
                <div class="card-body">{{ comment.content }}</div><br>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

 


{% endblock %}

{% block js %}
<script>
    function click_post_like(post_id) {
        $.ajax({
            url: "{% url 'board:board_likes' %}",
            data: {
                'post_id': post_id
            },
            dataType: "json",
            success: function (response) {
                $('#like_count').html(response.like_count)
                $('#message').html(response.message)
            }
        })
    }
</script>

<script>
    function click_post_dis_like(post_id) {
        $.ajax({
            url: "{% url 'board:board_dis_likes' %}",
            data: {
                'post_id': post_id
            },
            dataType: "json",
            success: function (response) {
                $('#dis_like_count').html(response.dis_like_count)
                $('#message').html(response.message)
            }
        })
    }
</script>
{% endblock %}