{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} 게시판 리스트 {% endblock %}

{% block content %}
{% if request.GET.search_input %}
<p class="alert alert-danger text-center">'{{ request.GET.search_input }}' 에 대한 검색결과 입니다.</p>
{% endif %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
            <th>좋아요</th>
            <th>싫어요</th>
        </tr>
    </thead>
    <tbody>
        {% for post in post_list %}
        <tr>
            <td>{{post.id}}</td>
            <td><a href="{{ post.get_absolute_url }}">{{post.title}}</a></td>
            <td>{{post.author}}</td>
            <td>{{post.created|date:'Y-m-d H:i:s'}}</td>
            <td>{{post.hit_count}}</td>
            <td>{{post.like|length}}</td>
            <td>{{post.dis_like|length}}</td>
        </tr>
    </tbody>
        {% endfor %}
</table>

{% bootstrap_pagination post_list %}
<a class="btn btn-info border" href="{% url 'board:board_create' %}">글 쓰기</a>
{% endblock %}
