{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} 유저정보 페이지 {% endblock %}

{% block content %}

  
<br><br><br><br>
<div class="row">
    
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h7>작성한 글 : 0개</h7> <hr>
                <h7>작성한 댓글 : 0개</h7> <hr>
                <h7>좋아요 갯수 : 0개</h7> <hr>
                <h7>싫어요 갯수 : 0개</h7> <hr>

            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <table>
            <form class="d-flex" action="{% url 'accounts:target_user' %}" method="GET">
                <input  name="search_user" placeholder="유저 닉네임 검색" value="{{ request.GET.search_user }}">
                <input  type="submit" value="Search">
            </form><hr>
        닉네임 : {{ users.nick_name }} <hr>
        아이디 : {{ users.username }} <hr>
        생성한지 : {{ users.created|timesince }}, 전 <hr>
        계정상태 : <strong>{% if users.is_deleted == True %} 사용불가 (탈퇴 진행중) {% else %} 사용가능 {% endif %}</strong> <hr>
        탈퇴요청날짜 : {{ user.deleted|date:'Y-m-d / H:i:s' }} <hr>
    </table>
    {% if request.user == users %}

    <a class="btn btn-info" href="{% url 'accounts:user_update' users.pk %}">회원정보 수정</a>
        {% if users.is_deleted == False %}
            <a class="btn btn-danger" href="{% url 'accounts:user_delete' users.pk %}">계정탈퇴 요청</a>
        {% else %}
        <a class="btn btn-danger" href="{% url 'accounts:user_active' users.pk %}">계정복구</a>
        {% endif %}

    {% endif %}
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
